node_modules
dist
.env
.yarn
.yarnrc.yml
yarn-error.log
coverage
coverage.json
contracts/Test*.sol
review_notes.md
typechain
typechain-types
.DS_store
tmp
keys
.rpcs.json
out

#Hardhat files
/cache/
artifacts
deployments/localhost
deployments.txt
*.log
.cursorignore*

.idea
